@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

.navbar{
    background-color:#1A0B2E ;
    width: 100%;
    height: 92px;
    padding: 16px 0 ;
    justify-content: space-between;
    text-align: center;

    
    
}
.tech{
    color: white;
    font-size: 48px;
    font-weight: bold;
}
.wave{
     background: linear-gradient( #ff00d4, #9b00ff, #ffea2c ); 
    background-clip: text;
    color: transparent;  
     font-size: 48px;
    font-weight: bolder;
}

.left
{
    margin-left: 200px;
}
.display-flex{
    display:flex;
    
}

.nav-item{
    list-style: none;
    margin-right:30px;
    padding:16px ;
}
    

.nav-link{
    text-decoration: none;
    font-size: 16px;
    color:white;
}

.middle-link{
    display: flex;
}
.subbtn{

    background: linear-gradient(90deg, #ff00d4, #9b00ff, #ff7d00);
    border-radius: 24px;
    color: white;
    height: 44px;
    width: 135px;
   padding: 16px 0;
    border: none;
    font-size: 16px;
    font-weight:bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    margin-right: 200px;
}

.subbtn:hover{
     background: linear-gradient(1000deg, #1900ff, #db0000);

        color: #ffffff;
}

#arrow-icon{
    height: 20px;
    width: 20px;
    
}
.right{
    padding-top: 16px;
}

/* cover 1  */