@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}


.navbar{
    background-color:#1A0B2E ;
    width: auto;
    height: 92px;
    padding: 16px 0 ;
    justify-content: space-between;
    text-align: center;

    
    
}



.tech{
    color: white;
    font-size: 48px;
    font-weight: bold;
}
.wave{
     background: linear-gradient( #ff00d4, #9b00ff, #ffea2c ); 
    background-clip: text;
    color: transparent;  
     font-size: 48px;
    font-weight: bolder;
}

.left
{
    margin-left: 200px;
}
.display-flex{
    display:flex;
    
}

.nav-item{
    list-style: none;
    margin-right:30px;
    padding:16px ;
}
    

.nav-link{
    text-decoration: none;
    font-size: 16px;
    color:white;
}

.middle-link{
    display: flex;
}
.subbtn{

    background: linear-gradient(90deg, #ff00d4, #9b00ff, #ff7d00);
    border-radius: 24px;
    color: white;
    height: 44px;
    width: 135px;
   padding: 16px ;
    border: none;
    font-size: 16px;
    font-weight:bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    margin-right: 200px;
}

.subbtn:hover {
     background: linear-gradient(1000deg, #1900ff, #db0000);

        color: #ffffff;
}
.newbtn:hover{
    background-color: #ffea2c;

}

#arrow-icon{
    height: 20px;
    width: 20px;
    
}
.right{
    padding-top: 20px;
}
/* cover 1  */
.cover
{   width: 100%;
    position: relative;
}
.wavebg{
    height: 760px;
    width: 1600px;
    justify-content: center;
    position: relative;

}
.circlebg{
position: absolute;
  top: 80px;
  left: 44%;
  

}
.circlebg:hover img{
    transform: scale(1.2);
    transition: ease-in 0.3s;
    

}

.micbg:hover img {

    
    transform: rotate(15deg) scale(1.1);
   

}
.micbg{
    position: absolute;
    top: 150px;
    right: 560px;

}
.newbtn{
    position: absolute;
      z-index: 3;
      top: 110px;
    right: 32%;
}
.newbtn button{
 
background-color: #00FF88; 

  color: rgb(0, 0, 0);
  padding: 5px 10px;
  height: 38px;
  width:75px;
  border-radius: 25px;
  border: none;
  font-size: 18px;
  cursor: pointer;
 font-weight:bolder;
 display: flex;
 justify-content: center;
 align-items: center;

}
.cover-text{
    position: absolute;

    top: 434px;
    right:350px;
    margin-top: 40px;
    
}

.cover-text h3{
    color: white;
    font-size:60px;
    font-weight: bolder;
    justify-content: center;
    text-align: center;
}
.cover-text p{
    font-size:16px ;
    color: white;
    text-align: center;
    margin-top: 20px;

}

.two-btn{ 
    
    position: absolute;
    z-index: 2;
    top: 150px;
    right: 560px;
    display: flex;
    top: 624px;
    right:420px;

}

.sub-btn{
     background: transparent;
    border-radius: 24px;
    color: #00FF88;
    height: 44px;
    width: 147px;
   padding: 3px ;
    border: #00FF88 solid 1px;
    font-size: 16px;
    
    cursor: pointer;
   
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 16px;
    margin-right: 16px;
 
}


.sub-btn:hover{
    background: linear-gradient(90deg, #0cd305, #ff0b30, #06ecb2);
   
}

.lis-btn{
     background: linear-gradient(90deg, #ff00d4, #9b00ff, #ff7d00);
    border-radius: 24px;
    color: white;
    height: 44px;
    width: 220px;
    display: flex;
    padding: 22px;
    border: none;
    font-size: 16px;
    font-weight:bold;
    cursor: pointer;
    justify-content: center;
    align-items: center;
     margin-bottom: 16px;
    margin-right: 16px; 
}

    .lis-btn:hover{background: linear-gradient(90deg, #1e13ee, #f50606, #7da3eb);
    border-radius: 24px;
    color: white;

    
}

.section-3 {
    background-color: #1A0B2E;
    padding: 50px 200px;
    color: white;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
   
 
}
.section-3 h3{
    
    color: white;
    font-size: 48px ;
    justify-content: center;
    margin-bottom: 30px;
}

.section-3 p{
    
    color: white;
    font-size: 16px ;
    justify-content: center;

    margin-bottom: 40px;
    opacity: 80%;
}

.horizontal-line {
    border: none;                  
    height: 2px;   
    opacity: 10%;               
    width: 100%;                   
    margin: 50px 0;    
    display: block;
    background-color: #ffffff;         
}

.stats{
    
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}





.stats h4{
    color: #00FF88;
    font-size: 48px;
    margin-bottom: 12px;
    align-items: center;


}
.statq {

font-size: 12px;
}

.rc-span{
    background-color:#230E3D ;
   padding: 120px;
   display: flex;
   flex-direction: column;
   
   box-sizing: border-box;
   
 
    width: 100%;

   
}

.bg{background-color:#230E3D ;

}    
    

.why-c{
    color: white;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    

  
}
.rc-span2{  
    
    display: grid;
   
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap:20px;
    
    grid-template-areas: 
    "premium mobile mobile "
    "premium global global"
    "exclu exclu rich";
    justify-items: center;
    align-items: stretch;
    
    max-width: 1200px;   
   
    
    }
    

    .premium { grid-area: premium; }
    .mobile  { grid-area: mobile; }
    .global  { grid-area: global; }
    .exclu   { grid-area: exclu; }
    .rich    { grid-area: rich; }

     .divcard  {  background-color: #351165;
        border-radius: 40px;
        width: 100%;
        padding: 40px;
        margin-bottom: 30px;
       
    }

    .divcard h3{
        color: white;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 30px;
        margin-top:30px;
        
    }

    .divcard p{
        color: white;
    font-size: 16px;
    opacity: 60%;
    }

   .featured{
    height: auto;
    width: 100%;
    padding:120px;
    background-color: #1A0B2E;
    



   .fea-epi{
    color: white;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom:40px ;
    border-radius: 40px;
    
    

}

.fea-card{
    display: flex;
    justify-content: center;
    padding: 200px  ;
    gap: 30px;
        
}
    
   
}
.dur{
    color: #00FF88;
    font-size: 16px bold;

}

.para{
    width: 380px;
    height: 226px;
    background-color: #250D44;
    padding:20px;
    border-radius: 20px;
}
 .icard h3{
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
    
    
    
 }
 .icard p{ color: white;
    font-size: 16px;
    opacity: 60%;
    

 }
 

 .meet{

    height: 280px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#351165 ;
    padding: 30px;
    border-radius: 30px;
    
 }
 .hostimg{
    width: 200px;
    height: 200px;
    margin-right: 20px;
    border-radius:50%;
 }

 .social-links img {
    width: 20px;
    height: 20px;
    padding: 1px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 40%;
    margin-top: 4px;
    
 }
 .wavefbg{
    position:absolute;

 }
 .logos{
    position: relative ;
    font-size: 150px;
    top: 80px;
    left: 44%;
 }
 .techa{
    color: white;
    font-size:80px;
    font-weight: bold;
}
.waves{
     background: linear-gradient( #ff00d4, #9b00ff, #ffea2c ); 
    background-clip: text;
    color: transparent;  
     font-size: 80px;
    font-weight: bolder;
}

.footer-links{
    position: relative ;
   
    top: 60px;
    left: 8%;
    justify-content: center;
    gap: 20px;
    padding:20px 0;
    display: flex;
  
}

.footer-links ul{
    
    align-items: center;
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 40px;
    
    

}

.footer-links a{
    color: white; 
    text-decoration: none;
    opacity: 60%;
    
    display: flex;
}
.footer-copy{
    font-size: 18px;
    color: white;
    position: relative;
    padding: 30px 30px;
   justify-content: center;
   left: 42%;
   opacity: 60%;
   
    
}

.hide{display: none;}

@media screen and (max-width:576px) {
    .rc-span h3{
        font-size: 32px;
    }
    .rc-span2{  
    
    display: grid;
   
    grid-template-columns: repeat(1,1fr);
    
    gap:20px;
    
    grid-template-areas: 
    "premium "
    "mobile"
    "global"
    "exclu"
    "rich";
    
    justify-items: center;
    padding:10px;
 

    }


 .divcard  {  background-color: #351165;
        border-radius: 10px;
        width:100%;
        height: auto;
        padding: 10px;
        
   
       
    }


    .divcard h3{
        color: white;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 5px;
        margin-top:5px;
        
        
    }

    .divcard p{
        color: white;
    font-size: 16px;
    opacity: 60%;
    }

.fea-card{
    display: flex;
    flex-direction: column;
    
    width: 100%;
    padding: 10px  ;
    gap: 30px;
}


    

.stats h4{
    color: #00FF88;
    font-size: 35px;
    padding: 30px;
    margin-bottom: 15px;


}
.stats{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}




   .featured{
    height: auto;
    width: 100%;
    padding:10px;
    background-color: #1A0B2E;
    
   }


   .fea-epi{
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom:10px ;
    border-radius: 10px;
    
    

}
.meet{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}



.hostimg{
    width: 150px;
    height: 150px;
    
 }

 .social-links img {
    width: 20px;
    height: 20px;
    padding: 1px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 40%;
    margin-top: 4px;
    


}
.icard h3{
    font-size: 24px;
}

.icard p{
    font-size: 15px;
}

}

icard{
    margin: auto;
    justify-content: center;
    
}

 .techa{
    color: white;
    font-size:40px;
    font-weight: bold;
}
.waves{
     background: linear-gradient( #ff00d4, #9b00ff, #ffea2c ); 
    background-clip: text;
    color: transparent;  
     font-size: 40px;
    font-weight: bolder;
}

.footer-links ul{
    
    align-items: center;
    text-decoration: none;
    list-style: none;
    flex-wrap: wrap;
    gap: 40px;
    
    

}